// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .section__picture
    {
        width: 65%;
        overflow: hidden;
    }
      
    .section__text
    {
        width: 35%;
        padding-top: $vertical_padding;
        padding-bottom: $vertical_padding;
        text-align: left;
    }

    .section__form
    {
        width: 65%;
        float: left;
    }

    .section__contact
    {
        width: 35%;
        float: left;
    }

    .section--left
    {
        float: left; 
    }

    .section--right
    {
        float: right;
    }

    /*.section--dark .section__picture
    {
        float: left;
    }

    .section--dark .section__text
    {
        float: left;
    }

    .section--white .section__picture
    {
        float: right;
    }

    .section--white .section__text
    {
        float: right;
    }*/
}