@import "../vars";

.hero--home
{
  background-image: url('../imgs/hero_xs.jpg');
}

.section__picture
{
  width: 100%;
  overflow: hidden;
}

.section__picture--center
{
  display: flex; 
  justify-content: center;
}

.section__picture__img
{
  margin: 0;
  //width: 600px;
  height: 400px;
}

.section__text
{
  width: 100%;
  padding-top: $vertical_padding ;
  padding-bottom: $vertical_padding;
  text-align: center;
}

.section__form
{
  width: 100%;
  padding-top: $vertical_padding;
  padding-bottom: $vertical_padding;
}

.section__form__label
{
  margin-top: 25px;
}

.section__form__input
{
  width: 100%;
  border-radius: 0;
  background-color: $bb_gray;
  color: $bb_gray_text;
  border: 0;
}

.section__form__button
{
  color: $bb_golden;
  border: 1px solid $bb_golden;
  padding: 6px 10px;
  margin-top: 14px;
  background-color: $bb_dark;
}

.section__contact
{
  width: 100%;
  padding-top: $vertical_padding;
  padding-bottom: $vertical_padding;
}

.section__contact__info-group
{
  list-style-type: none;
  margin-top: 33px;
}

.section__ships
{
  width: 100%;
  padding-top: $vertical_padding;
  padding-bottom: $vertical_padding;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";
