//Project variables
//@import "../bootstrap";
@import "../vars";

.search
{
  padding-bottom: 50px;
}

.search__title
{
  font-size: 28px;
  margin: 0;
  padding: 30px 0;
}

.search__arrow
{
  width: 13px;
  height: 13px;
  border-right: 2px solid $bb_golden;
  border-top: 2px solid $bb_golden;
  position: absolute;
  display: block;
  cursor: pointer;
}

.search__arrow__wrapper
{
  padding: 35px 0;
}

.search__arrow--shows
{
  transform: rotate(135deg);
}

.search__arrow--hides
{
  transform: rotate(315deg);
}

.search__controls
{
  display: none;
}

.slider
{
  padding-bottom: 30px;
}

.slider__handle
{
  width: 13px!important;
  height: 13px!important;
  border-radius: 50%;
}

.slider__bar
{
  height: 3px!important;
}

.slider__title
{
  color: #fff;
  margin: 13px 0;
}

.slider__range
{
  width: 100%;
  background-color: #000;
  border: 0;
  margin: 13px 0;
  color: #fff;
  text-align: right;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";