//Project variables
//@import "../bootstrap";
@import "../vars";

.search
{
  padding-bottom: 1px;
}

.search__title
{
  font-size: 20px;
  margin: 0;
  padding: 18px 0;
}

.search__arrow
{
  width: 13px;
  height: 13px;
  border-right: 2px solid $bb_golden;
  border-top: 2px solid $bb_golden;
  position: absolute;
  display: block;
  cursor: pointer;
}

.search__arrow__wrapper
{
  padding: 18px 0;
}

.search__arrow--shows
{
  transform: rotate(135deg);
}

.search__arrow--hides
{
  transform: rotate(315deg);
}

.search__controls
{
  width: 100%;
  display: none;
}

.slider
{
  padding-bottom: 30px;
}

.slider__handle
{
  display: block;
  width: 13px!important;
  height: 13px!important;
  border-radius: 50%;
}

.slider__bar
{
  height: 3px!important;
}

.slider__title
{
  color: #fff;
  margin: 13px 0;
}

.slider__range
{
  width: 100%;
  background-color: #000;
  border: 0;
  margin: 13px 0;
  color: #fff;
  text-align: right;
}

.search__select-title
{
  padding: 2px 0;
  margin-top: 50px;
  margin-right: 20px;
  float: left;
  color: $bb_white;
}

.search__select
{
  margin-top: 50px;
  float: left;
  padding: 2px;
  background-color: $bb_dark;
  border: 1px solid $bb_white;
  color: $bb_white;
  appearance: menulist;
}

.search__button__container
{
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
}

.search__button
{
  height: 35px;
  background-color: $bb_dark;
  padding: 0 10px;
  margin-top: 50px;
  color: $bb_golden;
  border: 1px solid $bb_golden;
}

//Media queries
@import "./small";
@import "./medium";
@import "./large";
@import "./xLarge";