// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
    .hero--single
    {
        background-image: url('../imgs/hero.jpg');
    }

    .yacht-info
    {
        width: 60%;
        float: left;
    }

    .charter-info
    {
        width: 40%;
        float: left;
    }
}