$bb_white: #f9f9f9;
$bb_dark: #000;

$bb_dark_text: #969696;
$bb_white_text: #7d7c7c;

$bb_gray: #434343;

$bb_gray_text: #999;

$bb_golden: #B9874C;

$horizontal_padding: 50px;
$vertical-padding: 55px;